<div class="d-flex justify-content-center mt-3">
    <div class="card" style="width: 25rem; text-align: center; ">
        <img src="changePass.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">Lege ein sicheres Passwort fest. Dein Passwort muss mindestens 8 Zeichen lang sein und
                mindestens einen Großbuchstaben, einen Kleinbuchstaben sowie eine Zahl enthalten.</p>

            <form [formGroup]="resetPassForm" (ngSubmit)="handleResetPassForm()">

                <input formControlName="newPassword" class="form-control" placeholder="Neues Passwort">

                <!-- Fehlermeldung für newPassword -->
                <div *ngIf="resetPassForm.get('newPassword')?.errors?.['backend']" class="text-danger mt-1">
                    {{ resetPassForm.get('newPassword')?.errors?.['backend'] }}
                </div>

                <input formControlName="confirmNewPassword" class="form-control mt-3"
                    placeholder="Neues Passwort erneut eingeben">

                <!-- Fehlermeldung für confirmNewPassword -->
                <div *ngIf="resetPassForm.get('confirmNewPassword')?.errors?.['backend']" class="text-danger mt-1">
                    {{ resetPassForm.get('confirmNewPassword')?.errors?.['backend'] }}
                </div>

                <div class="d-flex justify-content-center mt-3">
                    <button class="btn btn-primary" type="submit">Passwort zurücksetzen</button>
                </div>
            </form>
        </div>

        <div *ngIf="success" class="alert alert-success text-center mt-3">
            {{ message }}
        </div>
        <div *ngIf="error" class="alert alert-danger text-center mt-3">
            {{ message }}
        </div>

    </div>
</div>