<div class="d-flex justify-content-center align-items-center" style="min-height: 60vh;">
    <div class="card shadow" style="width: 350px;">
        <div class="card-body">
            <ng-container *ngIf="userInfo as user; else loading">
                <h5 class="card-title text-center mb-4">Benutzerprofil</h5>
                <p><strong>ID:</strong> {{ user.id }}</p>
                <p><strong>Benutzername:</strong> {{ user.username }}</p>
                <p><strong>Rolle:</strong> {{ user.role }}</p>
                <p><strong>JWT Token gültig ab:</strong> {{ userInfo.jwtissuedAtDate | jwtDate }}</p>
                <p><strong>JWT Token gültig bis:</strong> {{ userInfo.jwtexpirationDate | jwtDate }}</p>
                <p><strong>JWT Token Ablaufzeit:</strong> {{ countdown }}</p>
            </ng-container>

            <ng-template #loading>
                <div class="d-flex justify-content-center align-items-center" style="height: 100px;">
                    <div class="spinner-border text-primary" role="status" aria-hidden="true"></div>
                    <span class="visually-hidden">Loading...</span>
                </div>
            </ng-template>
        </div>
    </div>
</div>