<nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom"
  style="padding-top: 1rem; padding-bottom: 1rem;">
  <div class="container d-flex flex-column">

    <!-- Obere Zeile: Logo und Icons -->
    <div class="d-flex justify-content-between align-items-center w-100 mb-2">

      <!-- Logo -->
      <a class="navbar-brand logo-container d-flex align-items-center">
        <img src="pixa.jpg" alt="Logo" />
      </a>

      <div class="welcome-container" *ngIf="isAuthenticated && isMember">
        <span class="welcome-text">
          Willkommen zurück <strong>{{ username }} 👋</strong>
        </span>
        <span class="role-text">
          {{ role }}
        </span>
        <span class="date-text">
          {{ currentDateTime | customDate }}
        </span>
      </div>



      <!-- Icons rechts -->
      <div class="d-flex flex-column align-items-end gap-1">
        <!-- Zeile mit Icons und Buttons -->
        <div class="d-flex align-items-center gap-3">

          <a href="https://www.google.de/maps" target="_blank" rel="noopener noreferrer" class="text-dark fs-5"
            title="Google Maps">
            <i class="fas fa-map-marker-alt"></i>
          </a>
          <a class="text-dark fs-5"><i class="fas fa-shopping-cart"></i></a>

          <a routerLink="/login" class="btn btn-outline-primary d-flex align-items-center gap-2"
            *ngIf="!isAuthenticated">
            <i class="fas fa-user"></i> Login
          </a>

          <button *ngIf="isAuthenticated" (click)="logout()"
            class="btn btn-outline-danger d-flex align-items-center gap-2">
            <i class="fas fa-sign-out-alt"></i> Logout
          </button>

        </div>


      </div>
    </div>

    <!-- Untere Zeile: Navigation -->
    <div class="w-100 border-top pt-3 d-flex align-items-center justify-content-center position-relative">
      <ul class="navbar-nav flex-row gap-4">

        <a routerLink="/home" class="text-dark fs-5" title="Startseite"><i class="fas fa-home"></i></a>

        <li class="nav-item"><a *ngIf="isSuperAdmin && isAuthenticated" class="nav-link px-3" routerLink="/security"
            routerLinkActive="active">Security</a></li>

        <!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle px-3" href="#" id="glassesDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu" aria-labelledby="glassesDropdown">
            <li><a class="dropdown-item" href="#">Dropdown-Item</a></li>
            <li><a class="dropdown-item" href="#">Dropdown-Item</a></li>
            <li><a class="dropdown-item" href="#">Dropdown-Item</a></li>
          </ul>
        </li> -->
        <div>
        </div>
        <li class="nav-item"><a *ngIf="isMember && isAuthenticated" routerLink="/userappointmentbooking"
            routerLinkActive="active" class="nav-link px-3">Terminbuchung</a></li>
        <li class="nav-item"><a *ngIf="isAdmin && isAuthenticated" routerLink="/adminschedulemanager"
            routerLinkActive="active" class="nav-link px-3">Terminmanager</a></li>

      </ul>
    </div>
  </div>
</nav>



<router-outlet></router-outlet>